<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am a skilled Machine Learning Engineer with a strong background in a wide array of ML disciplines, 
          including Natural Language Processing (NLP), Text-to-Speech (TTS), Automatic Speech Recognition (ASR), and Computer Vision. 
          In addition to this technical expertise, 
          I also have a deep understanding of Machine Learning Operations (MLOps) and Data Science, which allows me to develop and 
          deploy cutting-edge AI solutions efficiently. 
        </p>
        <p>
          As an IBM Data Professional, 
          I am well-versed in industry best practices and am committed to driving innovation and excellence in every project I undertake. 
          With a passion for advancing the field of AI and a dedication to delivering results, 
          I am a valuable asset to any team seeking to harness the power of machine learning.
        </p>
      </div>
    </div>
  </div>
</section>
